
/* IMPORTED FONT NAMES
font-family: 'Aboreto', cursive;
font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Figtree', sans-serif;
font-family: 'Inconsolata', monospace; (font-weight: 200, 300)
font-family: 'Roboto Mono', monospace; (font-weight: 200, 200+italic)
font-family: 'Rubik Dirt', cursive;

COLORS AND EMOTIONS
Red: Passionate, energetic, angry
Orange: Optimistic, playful, fun
Yellow: Welcoming, intellectual, impatient
Green: Prosperous, balanced, growing
Blue: Peaceful, loyal, cold
Purple: Imaginative, royal, spiritual
Gray: Unemotional, compromising
White: Innocent, pure
Black: Luxurious, powerful

#000000  #39085d  #7311ba  #a645ed  #d3a2f5  #ffffff 

*/


.navlink {
  font-family: 'Figtree', sans-serif;
  font-size: 20px; 
  font-weight: 300; 
  text-align: center;
  padding: 10px 15px;  
  color:rgb(250, 234, 214);
  border-radius: 5px;
}

.navbar {
  background-color: purple; 
  height: 35px;
  width: 950px;
  margin: 0px auto 0px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid black;  
  position: sticky; 
  top: 0px; 
}

.h1catagory {
  font-family: 'Aboreto', cursive;
  text-align: center;
  background-color: rgb(250, 234, 214);
  border-radius: 5px;
  letter-spacing: 5px; 
  position: sticky; 
  top: 37px; 
  width: 952px; 
  margin: 0 auto; 
}

.h1 {
  color: white;
}

.fontsdivcontainer {
  background-color: rgb(189, 182, 240); 
  border: 1px black solid; 
  width: 950px;
  margin: 0 auto;
  border-radius: 5px; 
  
}

.h1one {
  color: rgb(85, 40, 102);
  font-family: 'Aboreto';
  padding-left: 45px; 
}

.h2two {
  color: rgb(85, 40, 102);
  font-family: 'Alumni Sans Pinstripe';
  padding-left: 65px; 
  font-size: 30px; 
}

.h2three {
  color: rgb(85, 40, 102);
  font-family: 'Figtree';
  padding-left: 85px; 
  font-weight: 300; 
}

.h2four {
  color: rgb(85, 40, 102);
  font-family: 'Inconsolata';
  padding-left: 105px;
  font-weight: 200; 
}

.h2five {
  color: rgb(85, 40, 102);
  font-family: 'Roboto Mono';
  padding-left: 125px;
  font-weight: 200;
  font-style: italic;
}

.fontnote {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 25px; 
  padding-left: 145px; 
}

/* all borders function used to turn on and off borders to visualize layout*/

/* {
  border: 1px solid black; 
}*/

/*CIRCLES WITH COLORS*/

.circlecontainer {
  width: 950px;
  height: 250px; 
  border: 1px black solid; 
  border-radius: 5px; 
  overflow: clipped; 
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; 
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  opacity: 1;
  overflow: visable; 
}

.colornames {
  padding-left: 5px; 
  padding-top: 10px; 
  padding-right: 25px; 
  background-color: white;
  font-size: 25px;
  border-radius: 5px; 
  font-family: 'Aboreto', cursive; 
}

#latte {
  background-color: rgb(250, 234, 214);
}

#periwinkle {
  background-color: rgb(158, 92, 181);
  
}

#plum {
  background-color: rgb(116, 18, 186); 
}

#merlot {
  background-color: rgb(99, 0, 132);
}

/*HOVER COLORS*/

.latte:hover {
  background-color: rgb(158, 92, 181); 
  color: white; 
}

.periwinkle:hover {
  background-color: rgb(116, 18, 186);  
  color: rgb(250, 234, 214); 
}

.plum:hover {
  background-color: rgb(250, 234, 214); 
  color: rgb(99, 0, 132);
}

.merlot:hover {
  background-color: rgb(250, 234, 214); 
  color: rgb(158, 92, 181); 
}

.navlink:hover {
  background-color: rgb(116, 18, 186);
  color: rgb(250, 234, 214);
  text-decoration: none; 
  cursor: pointer; 
  letter-spacing: 3px;
  padding: 15px 20px; 
}

/*Use of Font Section*/
.usefontcontainer {
  background-color: rgb(189, 182, 240);
  border: 1px black solid; 
  border-radius: 5px; 
  height: 580px; 
  width: 950px; 
  margin: 0 auto; 
}

.usefonth1 {
  font-family: 'Aboreto', cursive;
  padding-left: 45px; 
}

.usefonth2 {
  Font-family: 'Alumni Sans Pinstripe', sans-serif;
  padding-left: 45px; 
}

.usefontp {
  font-family: 'Figtree', sans-serif;
  font-weight: 200;
  width: 500px; 
  text-align: justify;
  padding-left: 45px; 
  font-weight: 300;
  line-height: 1.4;
}

.usefontp::first-letter {
  -webkit-initial-letter: 3;
  initial-letter: 3;
}

/*TABLES*/
.tablecontainer {
  border-radius: 5px;
  border: 1px solid black;
  width: 950px;
  height: 250px;
  margin: 0 auto; 
}

.table {
  margin: 0 auto; 
}

td {
  padding: 10px; 
}

.pricingchartcaption {
  font-family: 'Aboreto', cursive;
  font-size: 27px; 
  padding-bottom: 15px;
  padding-top: 15px;
}

.tbody,thead {
  font-family: 'Figtree', sans-serif;
  font-size: 25px;
  background-color: rgb(189, 182, 240);
}

.throw {
  text-align: right;
  padding: 5px; 
}

.displaynone {
  background-color: white;
}

#annually {
  border-radius: 5px 0px 0px 0px; 
}

#semiannually {
  border-radius: 0px 5px 0px 0px;
}

#sixty {
  border-radius: 0px 0px 5px 0px;
}

#monthly {
  border-radius: 0px 0px 0px 5px;
}

#onetimepayment {
  border-radius: 5px 0px 0px 0px;
}
